header {
  /* background-color: #0014A0; */
  background: linear-gradient(90deg, #000c64, #0014A0, #000c64);
  height: 75px;
  padding: 12px 12%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  gap: 60%;
}

.logo {
  width: 56px;
}

.menu-img {
  width: 32px;
  cursor: pointer;
}

#menu {
  display: none;
}

#menu:checked ~ .nav-items {
  display: flex;
}

.nav-items {
  display: none;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-items: center;
  padding: 12px;
  position: absolute;
  right: 12%;
  top: 90px;
  background-color: white;
  border-radius: 8px;
  list-style: none;
  text-transform: uppercase;
}

.nav-item {
  font-size: 18px;
  text-decoration: none;
  color: black;
}